<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mission11_Haskett</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Mission11_Haskett.styles.css" asp-append-version="true" />
</head>
<body style="background-color: lightblue;">

    <div class="bg-dark text-white p-2"> <!--This will be the navbar to show on all pages.-->
        <span class="navbar-brand m-mg-2">ONLINE BOOKSTORE</span>
    </div>
    <div class="row m-1 p-1">
        <div class="col"><h2>Check out our awesome selection of books!</h2></div><!--Header to explain the website.-->
    </div>

    <div class="container col-9">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
